/* SCROLL HALUS */
html {
    scroll-behavior: smooth;
}

/* BUTTON EXPLORE */
.btn-explore {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00c3ff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-explore:hover {
    background: #009ed1;
}
